
                <!-- Viaje +{{INDICE}} [Screen] -->
                <div class="proximosv-holder col-sm-6">
                    <div class="img-holder">
				        <b>{{titulo}}</b>&nbsp;<i class="fa fa-calendar-check-o"></i>&nbsp;<small>{{fecha}}</small>
                        <img src="img/proximos/{{name}}-pvm.jpg" class="img-fluid img-thumbnail" alt="{{titulo}}">
                    </div>
                    <div class="overlay">
                        <h4>{{titulo}}</h4>
                        <p>{{sumario}} </p>
                        <p>
                            <b>{{costo}}</b> <small>(mexican Pesos)</small>&nbsp;<i class="fa fa-{{clTransp}}" aria-hidden="true"></i> {{duracion}} day{{stDias}}<br>
                            <i class="fa fa-calendar-check-o"></i> {{fecha}}
                        </p>
                        <a href="#/{{name}}" class="btn btn-more"> Read More </a>
                    </div>
                </div>
