
                    <!--  {{titulo}} -->
                    <div class="portfolio-holder col-md-3 col-sm-6 col-xs-12 all {{clDuracion}}">
                        <div class="img-holder">
                            <img src="img/proximos/{{name}}-pvm.jpg" class="img-responsive img-rounded" alt="{{titulo}}">
                        </div>
                        <div class="overlay">
                            <h4>{{titulo}}</h4>
                            <p>{{sumario}}</p>
                            <p><b>{{costo}}</b> <small>(mexican Pesos)</small>&nbsp;<i class="fa fa-{{clTransp}}" aria-hidden="true"></i>&nbsp;{{duracion}} day{{stDias}}<br>
                                <i class="fa fa-calendar-check-o"></i> {{fecha}}
                            </p>
                            <a href="nextTrips.html#/{{ruta}}" class="btn btn-more">Read more...</a>
                       </div>
                    </div>
