
            <!-- proximo viaje +{{INDICE}} --> 
            <div class="proximosv-holder col-md-3 col-sm-6 mb-4">
                 <div class="img-holder">
                           <img src="../imagen/proximos/pvm-{{name}}.jpg" class="img-fluid img-thumbnail" alt="{{titulo}}">
                 </div>
                 <div class="overlay">
                            <h4> {{titulo}}</h4>
                            <p> {{sumario}} </p>
                            <p><b>{{costo}}</b> &nbsp;&nbsp;<i class="fa fa-{{clTransp}}" aria-hidden="true"></i> {{duracion}} día{{stDias}}<br>
                                <i class="fa fa-calendar-check-o"></i> {{fecha}}
                            </p>
                            <a href="./{{name}}.html" class="btn btn-more">
                            Ver</a>
                 </div>
            </div>